<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            type="text/javascript"></script>
    <title>Profile</title>
</head>
<body>
<div class="hat">
    <button onclick="window.location='/feed/';">Home</button>
    <button onclick="window.location='/profiles/';">Users</button>
    <button onclick="window.location='/profiles/{{ user.username }}/';">Profile</button>
    <a style="width:70px"></a>
    <button onclick="window.location='/users/logout';">Log out</button>
</div>
<div class="form">
    <input type="text" value="{{ user.username }}" name="currentUsername" hidden>
    <form method="post" action="/profiles/{{ user.username }}/">
        {% csrf_token %}
        <div>
            <h2> User: {{ user.username }}</h2>
            <h3> email: {{ user.email }}</h3>
            <h4> followers: {{ user.followers|length }} follows: {{ user.follows|length }}</h4>
            <p>Joined: {{ user.date_joined }}</p>
            <p>Last seen: {{ user.last_login }}</p>
            {% if not current %}
                {% if not is_following %}
                <button type="submit">Follow</button>
                {% else %}
                <button type="submit">Unfollow</button>
                {% endif %}
            {% endif %}
        </div>
    </form>
    <h2> Recent posts:</h2>
    {% for post in posts %}
    <div class="post-card">
        <div class="post-card__variables">
            <input type="text" name="author" value="{{ post.author }}" hidden>
            <input type="text" name="title" value="{{ post.title }}" hidden>
        </div>
        <div class="post-card__data">
            <h3>{{ post.title }}</h3>
            <textarea name="content"
                      disabled>{{ post.content }}</textarea>
        </div>
        <div class="post-card__actions">
            <div class="post-card__buttons">
                <p onclick="show_comments(this)"> {{ post.comments|length }} comments</p>
            </div>
            <p>{{ post.author }}</p>
        </div>
        <div class="post-card__comments">
            {% for comment in post.comments %}
            <div class="comment">
                <h5 style="margin-left: 10px; padding: 0">{{ comment.author }}:<br/>
                    {{ comment.comment }}</h5>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>